body,
html {
  height: 100%;
}

html {
  background-color: #ff2e63;
}

body {
  background-color: #ff2e63;
  background-image: linear-gradient(to bottom, #252a34, #ff2e63);
}

@media (max-width: 335px) {
  body {
    position: relative;
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
}
